
<launch>
  <include file="$(find waiterbot_bringup)/launch/minimal.launch"/>
  <include file="$(find waiterbot_ctrl_office)/launch/controller.launch"/>
  <!-- <include file="$(find waiterbot_ctrl_office)/launch/office_database.launch"/>-->
  <include file="$(find waiterbot_ctrl_office)/launch/control_database.launch"/> 
</launch>
